@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif !important;
}

body {
  color: #555;
  background: rgb(230, 239, 255);
}

.background-image {
  background-image: url("../../public/assets/images/win-bg-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Customize scrollbar for Webkit browsers like Chrome and Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #0051ffaf;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0051ffc8;
}

::-webkit-scrollbar-track {
  background: #0051ff3b;
}

/* Customize scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

@layer components {
  .glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.75rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.56);
  }
  .glass-bg {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
  }

  .error {
    color: red;
    font-size: small;
    font-weight: 600;
  }
}
